[2015-02-24 06:49] AndreasAntener opened #1 "Include euroc_simulator and mav_comm in SITL Docker image"

[2015-02-24 06:53] AndreasAntener opened #2 "Improve ROS Docker container, various things"
**TODO:**
- use https://docs.docker.com/articles/using_supervisord/
- configure ssh to work with Vagrant out of the box
- check if unprivileged execution is possible and still easy to use

[2015-02-24 07:54] AndreasAntener opened #3 "SITL test execution scripts improvements"
- fail test scripts if something goes wrong
- print separators for console section plugin

[2015-02-24 08:07] AndreasAntener opened #4 "Jenkins Github authentication"
Integrate Github authentication in Jenkins SITL CI server (for management users)

[2015-02-24 08:08] AndreasAntener opened #5 "Execute SITL integration tests on pull requests"
Waiting on PX4/Firmware/pull/1831

[2015-03-02 00:05] AndreasAntener commented on #5
This is now running

[2015-03-02 00:05] #5 closed

[2015-03-03 09:46] AndreasAntener opened #6 "Spurious errors on SITL CI"
This happens every few build which isn't very helpful:
http://sitl01.dronetest.io/job/PX4%20Firmware%20SITL%20PRs/29/console

Seems to be a Docker bug:
https://github.com/docker/docker/issues/9562

Need to switch the Docker filesystem or try 1.5

[2015-03-03 09:54] AndreasAntener commented on #6
We already have 1.5..

[2015-03-03 13:28] AndreasAntener commented on #6
I switched to AUFS now, let's see if the issue disappears.

[2015-03-13 19:41] AndreasAntener commented on #6
Seems to be gone

[2015-03-13 19:41] #6 closed

[2015-03-15 16:07] AndreasAntener opened #7 "Pull latest container on CI before running tests"

[2015-03-18 09:47] #7 closed

[2015-04-06 11:46] #3 closed

[2015-04-07 06:00] AndreasAntener opened #13 "SITL CI doesn't report failure anymore when tests failed"
Because of #11 the test script doesn't return the error anymore, need to add a check and return exit status > 0 at the end.

[2015-04-07 06:42] AndreasAntener opened #14 "Upload SITL CI test results to S3"

[2015-04-08 07:51] #13 closed

[2015-05-15 11:09] AndreasAntener opened #17 "SITL: generate HTML file to view exported KML and link charts"
Related to #10

[2016-06-06 11:44] AndreasAntener opened #23 "Structuring Docker containers"
@dagar @julianoes @LorenzMeier  the container hierarchy topic. My suggestion:
- base (determines latest supported OS plus base apps, 'make posix' and jMAVSim)
  - nuttx
  - snappy
  - raspberry
  - gazebo
  - gazebo-ros

Furthermore I'd suggest once we have it setup we do a one-off build with a 14.04 base (tag the images) and then switch to 16.04. The same with ROS Jade and Gazebo 6, then switch t

[2016-06-06 12:08] julianoes commented on #23
@AndreasAntener: The RPi2 should be fairly small and simple but the Snappy one needs SDKs pulled in that are not public, see https://github.com/PX4/containers/pull/22/files.

I would like the base to be more minimal and not to include anything NuttX / arm toolchain related. Basically, I would make it to just what is needed to do `make posix`.

[2016-06-06 12:18] AndreasAntener commented on #23
'make posix', would that include jMAVSim?

[2016-06-06 12:19] AndreasAntener commented on #23
Updated structure suggestion in that case

[2016-06-06 14:45] julianoes commented on #23
No, I'd say minimal, without gazebo/jMAVSim, etc.

[2016-06-06 14:46] AndreasAntener commented on #23
What's the purpose of that container then?

[2016-06-06 15:28] julianoes commented on #23
Build POSIX, but yer you're right, might as well put more in there.

[2016-06-06 15:56] AndreasAntener commented on #23
Trying to figure out what we should actually split out, too much doesn't make sense if we have 1 test command that builds/runs every platform.

Also, if we want something very specific for only running unit-tests we should look into minimal base images (like Alpine)

[2016-06-06 16:11] dagar commented on #23
I think this makes sense, but we'll have to see if maintaining all these different environments is worth the effort. It's nice to have small images for a build system that has to fetch the full thing every single time. For my own workstation I don't care if my container has nuttx, raspi, gazebo, ros, etc altogether as long as there aren't conflicts.

Initially I wanted one command `make check` tha

[2016-06-06 16:56] mcharleb commented on #23
Would you be open to passing a EULA acceptance flag for the Hexagon SDK when running the docker image? Minecraft images do this:

https://www.ctl.io/developers/blog/post/deploy-a-minecraft-server-using-docker-and-blueprints

docker run -i -t -p=25565:25565 -e EULA=true kitematic/minecraft

[2016-06-06 18:02] dagar commented on #23
@mcharleb if a user of the docker image is required to agree to the EULA could it be made more widely available?

[2016-06-08 09:49] AndreasAntener commented on #23
@dagar ok. One large group of users probably needs the base plus Nuttx, the other group Snappy. That split makes a lot of sense at the moment. Linux support (RPi) could possibly also go into the Nuttx container, maybe give it a different name then (I'm inclined to say "default" but that's kind of discriminating the others ;))

[2016-06-08 17:09] dagar commented on #23
We're close to having nuttx, sitl, snappy building out of docker containers on travis-ci and semaphoreci. I'll revisit the hierarchy and organization once things settle.

[2016-06-09 13:53] mcharleb commented on #23
@dagar That would be the intention. It would be fully redistributable and ready to run with the SDK preinstalled if the EULA was accepted. I'm socializing the idea with the Hexagon SDK team.

[2016-06-14 23:56] dagar opened #26 "create raspberry pi docker image"
https://github.com/PX4/rpi_toolchain

[2016-06-22 17:07] dagar opened #30 "Snapdragon add ninja-build"
@julianoes could you add ninja-build to the snapdragon image? That should help with build times.
https://github.com/PX4/containers/blob/master/docker/px4-dev/DockerfileBase#L25

https://github.com/PX4/Firmware/issues/4871

[2016-06-22 18:42] dagar commented on #30
On second thought let's use this as an excuse to structure the containers. I'll strip nuttx out of px4-dev-base and create px4-dev-nuttx. Then you can base snappy off of px4-dev-base and they'll have most of the same dependencies.
Standby.

[2016-06-22 18:43] dagar commented on #23
I'll start doing some of this now.

- base (determines latest supported OS plus base apps, 'make posix' and jMAVSim)
  - nuttx
  - snappy
  - raspberry
  - gazebo
  - gazebo-ros

[2016-06-23 06:07] julianoes commented on #30
Up to you, ok.

[2016-06-25 22:33] dagar commented on #30
@julianoes the next time you build px4-snappy you should consider squashing before pushing to docker hub. Removing the extra layers (from each ADD, RUN, etc) might save some space.
https://github.com/jwilder/docker-squash

[2016-07-07 13:24] julianoes commented on #30
@dagar: What's the state here, should I still add ninja-build and do a squashed build?

[2016-07-07 14:03] dagar commented on #30
If it's trivial for you to add a couple packages, rebuild, and push an updated px4-snappy then you should go ahead. Add ninja-build and ccache and your snappy build will get a bit faster.

I have a partially complete branch where I rearranged all the Dockerfiles into a hierarchy all built off of a single tiny base image that can build SITL. The problem is the current images are now intertwined wit

[2016-07-13 19:05] julianoes commented on #30
@dagar: I've added ninja-build and ccache and verified that it still builds.
I'm pushing it as julianoes/px4-snappy right now.

Unfortunately, the docker-squash did not work. I followed the [usage instructions](https://github.com/jwilder/docker-squash#usage) but it did not create a new docker image. When I do `docker images` I couldn't see the loaded docker image, even when I gave it a different t

[2016-07-13 19:38] dagar commented on #30
Thanks. Too bad the squash didn't work.

Can you tag your image? YYYY-MM-DD is probably sufficient. I'm going to go through and tag the rest, update the build systems, then open a PR my Dockerfile hierarchy change.

[2016-07-14 05:46] julianoes commented on #30
@dagar retagged and pushed as `docker.io/julianoes/px4-snappy-2016-07-13`.

[2016-07-15 02:38] dagar commented on #30
Thanks @julianoes
It looks like the only way to tag automated docker builds is to branch the associated repo.

[2016-07-15 03:02] dagar commented on #30
@julianoes did you create an entire new docker repo? You should be able to tag the existing one in it's current state, and then access it as `julianoes/px4-snappy:2016-07-13`.

[2016-07-15 05:47] julianoes commented on #30
I tagged it and pushed it to my docker. Did I do something wrong?

[2016-07-15 14:00] dagar commented on #30
Unless I misunderstand something about docker here (quite possible) didn't you create a different image named `px4-snappy-2016-07-13` rather than creating a tag within px4-snappy?

[2016-07-16 14:50] julianoes commented on #30
I used -t to tag it, not sure.

[2016-07-16 20:54] dagar commented on #30
I guess both are fine.

[2016-07-16 20:54] #30 closed

[2016-07-16 21:04] dagar commented on #30
I've switched semaphore-ci to use px4-snappy-2016-07-13.

[2016-07-19 09:39] AndreasAntener commented on #1
outdated

[2016-07-19 09:39] #1 closed

[2016-07-19 09:40] AndreasAntener opened #33 "Add entrypoint for containers to set user permissions"
This will avoid permission issues when working with Git repositories over share volumes
Following: https://denibertovic.com/posts/handling-permissions-with-docker-volumes/

[2016-07-20 14:37] dagar commented on #33
This would be nice. I was just adding users for all the typical UIDs for most Ubuntu users and travis/semaphore, but jenkins is different.

[2016-10-07 17:22] dagar commented on #26
Added here - https://github.com/PX4/containers/pull/34

TODO - add to semaphoreci

[2016-10-11 01:08] #26 closed

[2016-10-20 17:52] davids5 opened #36 "Gcc 4.9.3 needed for nuttx_v3_xxxxxx builds on CI - keep losing it"
@dagar

I have strange results
https://semaphoreci.com/px4/firmware/branches/nuttx_v3_sans_mavstation/builds/1

I build and pass nuttx_v3 on all CI, I delete mavsataion on a branch of the nuttx_v3 and semaphoreci  fails fmuv2 code space overflow.

Where is the container chosen and where is the compiler set for semaphoreci?

[2016-10-20 21:25] dagar commented on #36
Right, so for nuttx_v3 you've changed travis-ci to GCC 4.9, but because the semaphoreci config isn't stored in tree you're stuck with the main configuration.

That certainly sucks. In this particular situation we could just switch semaphoreci to GCC 4.9. Semaphoreci builds all the targets travis-ci does plus some lower priority extras (discovery).

Does that sound acceptable?

[2016-10-20 21:33] LorenzMeier commented on #36
@dagar Let's do that.

[2016-10-20 21:36] davids5 commented on #36
@dagar

Daniel to the rescue!

I think it does and does not - but you tell me.  I am thinking of the others.....
semaphoreci builds check - with 4.9.3 things builds will fit that will not fit on 4.8.4 - So does that mean that we  get an early false positive from one CI and then later a fail?

Can we just install both compilers and have a way in the makefile to tell the it which compiler?

[2016-10-20 21:38] LorenzMeier commented on #36
@davids5 We are actually using 5.x on Ubuntu / Arch and 4.9 on Mac OS: https://github.com/PX4/homebrew-px4/blob/master/gcc-arm-none-eabi.rb

So really just Travis is stuck with 4.8. Let's move everything to 4.9.

[2016-10-20 21:40] dagar commented on #36
Yes, but only the ones built on both.
px4fmu-v1, v2, v4, mindpx, tap

In my experience trying to handle multiple compiler versions within the Makefile gets awkward.

[2016-10-20 21:41] dagar commented on #36
Just saw @LorenzMeier's comment. Switch to 4.9.3 everywhere?

Semaphoreci has been updated.

[2016-10-20 21:49] LorenzMeier commented on #36
Everywhere please.

[2016-10-20 21:51] dagar commented on #36
Maybe you missed it, I edited the comment. Isn't GDB in 4.9 a problem?

[2016-10-20 22:54] dagar commented on #36
https://github.com/PX4/containers/pull/37

[2016-10-21 02:32] dagar commented on #36
Main builds (uploaded for QGC) updated to GCC 4.9.3, and circleci building with GCC 5.4 (make quick_check).

[2016-10-21 02:32] #36 closed

[2016-11-25 00:21] dagar opened #38 "DockerfileSnapdragon too big for semaphoreci"
The snappy build on semaphoreci was failing due to the size of the docker image. Unfortunately semaphoreci doesn't keep build history for deleted branches.

It's been deleted from the PX4 semaphore configuration for now.

    docker-cache restore
    docker pull julianoes/px4-snappy-2016-10-16
    docker run --rm -v `pwd`:`pwd`:rw -v $SEMAPHORE_CACHE_DIR/ccache:$HOME/.ccache:rw -e CCACHE_DIR=$HOME

[2016-11-25 08:55] julianoes commented on #38
I was trying to create a smaller docker image but I'm currently blocked by https://github.com/ATLFlight/cross_toolchain/pull/10.

[2016-11-28 19:58] mcharleb commented on #38
@julianoes Merged, sorry didn't see the PR.

[2016-11-28 19:59] mcharleb commented on #38
@julianoes @dagar Let me know what I can do to make this work. @julianoes do you need a script to reduce the hexagon SDK to a bare minimum?

[2016-11-28 20:46] dagar commented on #38
Ping me when it's time to re-enable semaphore.

[2016-11-29 08:16] julianoes commented on #38
@mcharleb the problem is that the cmake gcc check suddenly uses target/hexagon/lib/v60 instead of v50, so the `-trim` option for `installv3.sh` can't be applied anymore, thus leading to a bigger image.

[2016-11-29 08:40] mcharleb commented on #38
@julianoes I can fix the cmake gcc check.

[2016-11-29 23:37] mcharleb commented on #38
@julianoes I updated installv3.sh and removed more files with the -trim option. It seems to work for me. Let me know if you have any issues

[2016-11-30 01:11] mcharleb commented on #38
@julianoes You will also need an updated cmake_hexagon: https://github.com/ATLFlight/cmake_hexagon/commit/a55fb8e306b06a4d3ab7f46536904b045923f46a

[2016-12-04 07:56] dagar commented on #23
https://github.com/PX4/containers/pull/39

[2016-12-04 07:56] dagar commented on #17
https://github.com/PX4/Firmware/issues/5954

[2016-12-04 07:56] dagar commented on #14
https://github.com/PX4/Firmware/issues/5954

[2016-12-04 07:58] dagar commented on #17
Would uploading each build to http://logs.px4.io/ be sufficient?

[2016-12-04 10:27] LorenzMeier commented on #17
Yes, if you post the link via Jenkins then.

[2016-12-07 21:12] Alexey-Kamenev opened #40 "PX4Flow build is broken in latest px4io/px4-dev-ros image"
[PX4Flow](https://github.com/PX4/Flow) build is currently broken in ```px4io/px4-dev-ros``` image in case you do ```docker pull px4io/px4-dev-ros```. I tried building the image myself using the latest sources but ```docker build``` failed with the same error as [here](https://hub.docker.com/r/px4io/px4-dev-ros/builds/bsyqmnk5pztuzksupo95dxy/).
I ended up taking [this](https://hub.docker.com/r/px4i

[2016-12-13 04:27] dagar commented on #4
I added this to sitl01.dronetest.io tonight.
Right now anyone in PX4 has full access. We may need to review.

[2016-12-13 04:27] #4 closed

[2016-12-13 05:47] jgoppert commented on #4
Awesome, so useful for cancelling wasted builds.

[2016-12-13 06:03] dagar commented on #4
@jgoppert can I take that as confirmation it's working for more than just me? I already had a local account.

[2016-12-24 06:54] #33 closed

[2016-12-24 06:55] AndreasAntener commented on #14
Done

[2016-12-24 06:55] #14 closed

[2016-12-24 06:55] AndreasAntener commented on #17
Replaced by Flight Review upload

[2016-12-24 06:55] #17 closed

[2016-12-28 18:25] dagar commented on #23
Done!

[2016-12-28 18:25] #23 closed

[2016-12-28 18:37] dagar commented on #38
docker pull lorenzmeier/px4-dev-snapdragon
    docker run --rm -v `pwd`:`pwd`:rw -e CI=true -w=`pwd` -e LOCAL_USER_ID=$UID -it lorenzmeier/px4-dev-snapdragon /bin/bash -c "make eagle_default"

[2016-12-28 22:02] mcharleb commented on #38
@dagar @julianoes @LorenzMeier I created docker images for Snapdragon Flight and buid tests: https://github.com/ATLFlight/containers

You still need access the the Hexagon SDK and qrlSDK to create them.

[2017-01-02 00:03] dagar commented on #38
Solved with minimalSDK.tgz

[2017-01-02 00:03] #38 closed

[2017-01-03 21:59] dagar commented on #40
@Alexey-Kamenev could you try again with px4io/px4-dev-ros? We've pushed an updated px4-dev-ros now with Ubuntu 16.04, Gazebo 7, and ROS Kinetic.

[2017-01-07 00:31] dagar commented on #2
You mainly want ssh?

[2017-01-07 06:15] AndreasAntener opened #51 "Default ccache directory is owned by root"
Prevents compilation as normal user.
Having to specify ` -e CCACHE_DIR=${HOME}/.ccache \ ` doesn't make sense to me. @dagar is it just owned by root because everything gets installed by root during the container build?

[2017-01-07 06:45] dagar commented on #51
This is so docker stores the cache outside of the container and seemed like as good a place as any to keep it.

The root ownership happens if the shared volume (docker -v) doesn't exist when you run. I didn't hit it because all of my machines already had a .ccache.

Can you try the 2017-01-06 tag? I believe I fixed the ccache root ownership issue.

[2017-01-07 06:47] AndreasAntener commented on #2
Ugh, this issue is a bit stale I guess. What I was trying to do in the beginning is have Vagrant as user interface and use Docker underneath that. At that time it turned out to be even more complicated and lead to even more problems. This would still make sense for companies as it gives them a complete environment starting at the OS level. Lets close this issue. A fresh look is needed anyway if so

[2017-01-07 06:47] #2 closed

[2017-01-07 06:51] AndreasAntener commented on #51
Ok I see now what you tried to do. I was talking about the ccache directory inside the container at /tmp/.ccache which is owend by root and used by default if you enter the container.

Mapping the cache outside the container defies the purpose of having a container IMHO. As long as my container runs it has it's state. Every new container (run) should get a new state. Otherwise I'll restart an old

[2017-01-07 07:23] dagar commented on #51
Oh, it's the tmp directory causing problems? I added that without much thought. Should we drop it?

I agree in principle, but a lot of this evolved trying to squeeze more out of these free CI services and the use case is a bit different. On travis-ci each build starts on a fresh machine, clones the repo, pulls our docker image, builds, and then throws it all away. However you can bundle up the .cc

[2017-01-07 19:37] #51 closed

[2017-01-07 19:39] dagar commented on #51
TMPDIR removed 8e72cea

@AndreasAntener could you now try tag 2017-01-07?

[2017-01-14 00:33] jgoppert opened #54 "Add jinja2"
I have been asking for jinja2 for awhile for various tasks (e.g. https://github.com/PX4/sitl_gazebo/pull/37) , the latest is: https://github.com/PX4/Firmware/pull/6305

Can we get this added to the docker image?

[code]

[2017-01-14 01:09] #54 closed

[2017-01-14 20:34] LorenzMeier opened #58 "Coverity image broken"
@dagar The image in use for Coverity in Travis is broken:

[code]

[2017-01-14 20:39] LorenzMeier commented on #58
Its not really the image. I'm working on a workaround.

[2017-01-14 20:39] #58 closed

[2017-01-14 20:40] dagar commented on #58
Yes, it turned out to be far easier to let the travis-ci coverity addon auto install and work as intended.

[2017-01-27 06:46] dagar commented on #40
@Alexey-Kamenev any update?

[2017-02-22 21:04] #40 closed

[2017-07-27 04:59] hamishwillee opened #65 "Containers don't work in Ubuntu due to permission errors"
As per https://github.com/PX4/Devguide/issues/232 ...
I followed the instructions in [devguide here](https://dev.px4.io/en/test_and_ci/docker.html), setting up docker in a clean Ubuntu 16.04 running on a VM (in Windows). Including post instructions to ensure I didn't have to execute docker as sudo.

I added /src dir and cloned Firmware in it. I can see that the parent above src belongs to root, an

[2017-07-27 19:07] dagar commented on #65
This is what I use for the CI system. https://github.com/PX4/Firmware/blob/master/Tools/docker_run.sh#L47

The important part is `-e LOCAL_USER_ID="$(id -u)" \` which creates a user in the container with the same UID as your user on the host. This solves the file permission issues.

[2017-07-27 19:08] dagar commented on #65
You can also use it locally.

[code]

[2017-07-28 21:18] martinlowinski opened #67 "Unmappable characters when building jMAVSim"
Hi,

after [setting up](https://dev.px4.io/en/test_and_ci/docker.html) the `px4io/px4-dev-ros` docker image on a clean Ubuntu 17.04 running in a VM, I get errors that there are unmappable characters for the given encoding from the java compiler.

The container is created like this:

[code]

jMAVSim was build using `make posix_sitl_default jmavsim` which produces said unmappable character errors in

[2017-08-01 00:25] dagar commented on #67
Can you try it within the container to verify it solves the problem?

[2017-08-01 13:54] martinlowinski commented on #67
Yes. I added `ENV JAVA_TOOL_OPTIONS=-Dfile.encoding=UTF8` at the end of `containers/docker/px4-dev/Dockerfile_simulation`, built the image, started the container and executed `make posix_sitl_default jmavsim`:

[code]

It picks up the encoding options and compiles jMAVSim successfully.

Otherwise, this is the error without setting the encoding:

[code]

[2017-08-01 14:13] dagar commented on #67
Great, if you open a PR I'll get it merged asap.

[2017-08-02 00:07] #67 closed

[2017-08-02 00:07] dagar commented on #65
Resolved or do we need to do something else here?

[2017-08-02 00:13] hamishwillee commented on #65
Hi Daniel,
I haven't had an opportunity to test this yet. I'll set as closed and reopen if it isn't sufficient once I'm back in business.
Thanks!

[2017-09-21 20:31] JonasVautherin opened #75 "Containers organization"
Looking at the `px4-dev-*` images, I feels like they quickly install many things, which makes them difficult to use as a basis for new images.

For instance, `px4-dev-base` installs packages such as `gcc` or `vim-common` or `astyle`, that I don't necessarily need in all the px4 containers I can imagine (e.g. mavros). Same thing for `px4-dev-simulation` which installs `dronekit-python` and `pymavli

[2017-09-25 12:48] Stifael commented on #65
I am still struggling with just
`make posix_sitl_default gazebo` within the container. I added the id, and I can build posix_sitl_default, but I cannot run it with gazebo

[2017-09-25 12:51] Stifael commented on #65
would be great if we can get the integration documentation up to a state where ppl can test the integration tests locally without going through a lot of research how to to do that.  Right now I think it would be even better to remove the documentation for integration tests entirely, since it does not represent the current state at all.

[2017-09-25 13:44] JonasVautherin commented on #65
About the permissions problem. Why having a user in the containers? I am running everything as root *inside* the docker containers.

Anyway, using a user called "user" with the `px4-dev-ros` images, I have observed that mounting my "Firmware" folder into `/home/user/Firmware` would cause permission issues, whereas mounting it into `/home/Firmware` is always fine. Not sure why, though. Maybe you ca

[2017-09-25 14:11] dagar commented on #65
@JonasVautherin the common use case is a developer or CI system that has the source outside of the container and then mounts it as a volume. If it builds inside the container as root it's a pain to deal with the root owned build artifacts afterwards.

[2017-09-25 14:32] JonasVautherin commented on #65
I see.

Anyway, they can still try to mount it on `/home/Firmware` instead of `/home/user/...`. That helped in my case.

[2017-09-25 14:34] dagar commented on #65
@Stifael can you share the full output for how you're running this and what you see?

[2017-09-25 15:09] Stifael commented on #65
my current issue is completely different to what I had before. This is the small script that I used:
[code]

When I go into `/home/docker1000/src/firmware`, and then want to build `make posix_sitl_default`,
I receive error
[code]

[2017-09-25 15:12] JonasVautherin commented on #65
This seems more like git returning an error status 128 than a docker issue. Did you try to run the command multiple times?

[2017-09-25 15:29] dagar commented on #65
It might be a path issue for git. Try keeping the same absolute path within the container.

You can use this crappy script in Firmware to launch docker with the appropriate container, user setup, volume in the right place, etc.

`./Tools/docker_run.sh 'make posix_sitl_default'`

`./Tools/docker_run.sh 'bash'`

[2017-10-13 15:06] #75 closed

[2017-11-08 16:02] margaridaCF opened #81 "Docker container - issue without permission errors"
Hi!

   I saw that you have another issue with docker containers but as I do not get any permission errors I opened another issue. I actually get to the point where gazebo opens for a brief period and then shuts down. I cannot even find the error message...

   Here are my installation steps. I'm using Ununtu Xenial and followed docker's instructions for installation.
   1. create a folder inside

[2017-11-09 11:26] kuiskas opened #82 "PX4 Upload"
Is it possible to upload the code within a container. Build work fine.

thanks in advance

[2017-11-09 11:46] margaridaCF commented on #81
Hi!

   Just figured it out. Need to do xhost + every time.

  Thanks anyway.

[2017-11-09 11:46] #81 closed

[2017-12-05 21:10] dagar commented on #82
Sorry, I didn't see your question until now.

Yes you can do this by passing the serial device through.

Example

    docker run -t -i --device=/dev/ttyUSB0 px4io/px4-dev-base bash

[2017-12-17 03:17] #82 closed

[2017-12-19 19:00] Butakus opened #90 "Protobuf version issues in latest px4-dev-simulation build"
Hi,

It seems the latest [px4-dev-simulation](https://hub.docker.com/r/px4io/px4-dev-simulation/) image in Docker Hub contains a custom build of protobuf installed in /usr/local. This causes the Firmware (concretely sitl_gazebo) build to fail, since gazebo messages are generated with a different version of protobuf (the one in the ubuntu repository).

This is the output of pulling this image and s

[2017-12-19 19:03] dagar commented on #90
Thanks for reporting. Over the next few days I'll be taking a pass over all of these to get px4-dev-ros working properly with missing testing.
I'll be sure to cleanup things like this along the way.

[2017-12-22 16:57] lamping7 commented on #65
I just ran across this and figured I'd comment. I **don't** have these issues.

I'm using `docker run -it -d --net=host -v /home/tony/Firmware:/home/root/Firmware --name px4-testing px4-test`
Then `docker exec -it px4-testing bash` when I want to get in there

Additionally, not using the root account would be better. I didn't need `LOCAL_USER_ID` but it is probably the better way of doing this. I

[2017-12-29 22:42] dagar commented on #90
Could you give the latest docker image a try?

[2017-12-30 14:01] LorenzMeier commented on #90
@Butakus Could you try again?

[2017-12-30 14:02] #65 closed

[2018-01-03 08:15] Butakus commented on #90
Sorry for the delay, I couldn't try before.

It seems to be fine now, so I will close the issue. Thanks for your work!

[2018-01-03 08:15] #90 closed

[2018-01-17 21:08] jedichen121 opened #105 "Running PX4 containers on raspberry pi 3 caused "exec format error""
I tried to run the px4 autopilot in a container on raspberry pi 3. However, every time I tried to build it shows
`standard_init_linux.go:195: exec user process caused "exec format error"
`
I installed docker on raspbian using the convenience script. I then followed steps described in this page. https://dev.px4.io/en/test_and_ci/docker.html

I've tried different make command, such as `make posix_rp

[2018-01-18 00:02] vijay609 opened #106 "PX4Flow build is broken in latest px4io/px4-dev-ros image"
[PX4Flow](https://github.com/PX4/Flow) build is broken in the [latest](https://hub.docker.com/r/px4io/px4-dev-ros/builds/bsdgmqwpaos6mo3ldwuoerd/) `px4io/px4-dev-ros` image. Here's the output of make :

Checked mavlink submodule, correct version found
%%%%
%%%% Building px4flow-v2_default on baremetal in /src/px4flow/Flow/Build/px4flow-v2_default.build/
%%%%
make[1]: Entering directory '/src/px4fl

[2018-01-18 00:11] dagar commented on #106
I see at least 2 issues.

First of all the compilers are better split now (to keep image size down). You'll need px4io/px4-dev-nuttx for the arm-none-eabi-gcc compiler. The next issue is that the latest px4io/px4-dev-nuttx has been upgraded to GCC 7. This may work after modifying `Flow/makefiles/baremetal/toolchain_gnu-arm-eabi.mk` to tolerate that version, or you may need to make changes.

As a s

[2018-01-18 00:11] #106 closed

[2018-01-18 00:31] vijay609 commented on #106
@dagar,
First of all __Thank You__ for the quick reply.
I had tried the latest `px4io/px4-dev-nuttx` image prior to posting the issue but got the compiler version mismatch error like you pointed out.
I tried the older `px4io/px4-dev-nuttx` image (_tag 2017-12-08_) like you suggested and am able to build the firmware now.

[2018-03-20 09:53] mymultiverse opened #108 "bash: xhost: command not found"
I am trying to run xhost + inside the container but I am getting this error.

[code]
And if I run the xhost before docker run I get

    access control disabled, clients can connect from any host

[2018-03-20 10:51] mymultiverse commented on #81
@margaridaCF can you help me out [here](https://github.com/PX4/containers/issues/108) I am getting issues with xhost +

[2018-03-20 12:38] lamping7 commented on #108
What are trying to do here? You shouldn't be doing xhost inside the container if you are just trying to get gui apps to show. What `run` command did you use to create the container?

[2018-03-21 08:06] mymultiverse commented on #108
I am trying to run with
[code]

[2018-03-21 16:02] dagar commented on #108
If xhost is needed you could add it to the Dockerfiles. https://github.com/PX4/containers/blob/master/docker/px4-dev/Dockerfile_base

[2018-07-25 11:15] margaridaCF commented on #108
Hi! This is a bit late but if anyone bumps into this issue, to accomplish this run xhost+ outside the container before you run it.

[2018-08-04 20:09] dagar commented on #105
Sorry I missed this issue. Can you confirm if this is still a problem?

[2018-08-04 20:09] #108 closed

[2018-08-13 21:36] jedichen121 commented on #105
Hi, I just tried it again with the latest px4 code. The issue is still there. Same old error. Maybe this some tools used does not support arm v7?

[2018-08-13 21:37] jedichen121 commented on #105
Hi, I just tried it again with the latest px4 code. The issue is still there. Same old error. Maybe this some tools used does not support arm v7?

[2018-08-14 13:27] dagar commented on #105
Yes these containers are built with desktop use in mind. If you're interested we could try adding an arm version as well. I don't know how involved this will be.

I would start with px4-dev-base (https://github.com/PX4/containers/blob/master/docker/px4-dev/Dockerfile_base) and try to build it directly on your raspberrypi.

[2018-08-14 13:28] dagar commented on #105
Here's Ubuntu armhf - https://hub.docker.com/r/armhf/ubuntu/

[2018-09-19 09:24] TSC21 opened #138 "[new container] 18.04 with ROS2 Bouncy"
This will be required for `px4_ros_com` CI.

[2018-09-19 09:27] TSC21 commented on #138
@thomasgubler FYI.

[2018-09-20 11:04] TSC21 opened #140 "Create specific build tests for ROS containers"
- ROS Kinetic & Melodic: `catkin tools`.
Already supported build in PX4, though currently failing when used - needs to be fixed (https://github.com/PX4/Firmware/pull/9679).
- ROS2 Ardent: `ament tools`.
To test with `px4_ros_com` when it is made public.
- ROS2 Bouncy: `colcon tools`.
To test with `px4_ros_com` when it is made public.

[2018-09-24 21:53] TSC21 commented on #140
Addressed in https://github.com/PX4/containers/pull/139

[2018-09-24 21:54] TSC21 commented on #138
Solved in https://github.com/PX4/containers/pull/139

[2018-09-24 21:54] #138 closed

[2018-10-03 14:50] TSC21 opened #144 "Update RPi container"
Currently RPi container is unable to properly use CPack to package stuff.

Also, the toolchain being used on it is 3 years old (https://github.com/pixhawk/rpi_toolchain.git) and being applied to a Linaro distribution. This needs to be updated to match the proper OS and cross compile target (being it 32-bit Armv7, 32-bit Armv8 or 64-bit Armv8).

@mhkabir, @eyeam3, @dagar.

[2018-10-03 14:55] dagar commented on #144
Let's see if there's an acceptable toolchain with Ubuntu 18.04 packages.

[2018-10-03 15:03] TSC21 commented on #144
Maybe this can help: https://solarianprogrammer.com/2018/05/06/building-gcc-cross-compiler-raspberry-pi/

[2018-11-25 19:39] #105 closed

[2018-11-25 22:05] TSC21 commented on #140
Solved in https://github.com/PX4/containers/pull/145

[2018-11-25 22:05] #140 closed

[2019-01-15 22:31] TSC21 opened #154 "ROS2 Crystal: replace fastrtpsgen from Fast-RTPS 1.6.0 with 1.7.0"

[2019-01-17 22:21] #154 closed

[2019-01-18 14:08] ArkadiuszNiemiec opened #156 "gst_camera_plugin problem on newer px4io/px4-dev-ros"
I have tried to run a simulation with `gst_camera_plugin` based on `px4io/px4-dev-ros:2019-01-17` and ended up with while building the firmware:
[code]
After trying to install gstreamer as described in [https://dev.px4.io/en/simulation/gazebo.html](https://dev.px4.io/en/simulation/gazebo.html):
[code]
...I got this error:
[code]

On the default tag of `px4io/px4-dev-ros`, which is `px4io/px4-dev-r

[2019-01-24 22:19] TSC21 opened #160 "Archlinux container broken"
According to @julianoes, may be related to https://bugs.archlinux.org/task/61428.

[2019-01-30 12:23] lamping7 opened #169 "MAVROS update"
MAVROS breaks CI for attitude control test since version 0.28 (current release). Need to update once the next release is published to include https://github.com/mavlink/mavros/pull/1161.

[2019-02-05 01:10] lamping7 commented on #169
v 0.29 was released and is awaiting sync in the ROS package farm: http://repositories.ros.org/status_page/ros_kinetic_default.html?q=SYNC

[2019-02-06 16:57] tprasadtp opened #174 "Gazebo fails to run on bionic (18.04) while using nvidia drivers"
This issue is caused by two problems.

**I have tested it only with `px4io/px4-dev-ros:latest`**

Issue:
1. Nvidia drivers not installed in the container
2. Nvidia version on host and in container should match **exactly**.

Cause:
1. Nvidia drivers should be installed inside the container, failing to do so would result in errors like this

[code]

2. Even after installing the driver, Because  Vers

[2019-02-07 18:03] lamping7 commented on #174
`latest` is generally a bad idea. You don't know what you're getting. There were a couple images that didn't have the master branch setup to correspond with `latest` (including the one you're using). If you look at the Dockerfile, you'll see that you're actually supposed to get ROS melodic and Ubuntu 18, but you're not with the `latest` you have. I just configured them in docker hub to sync `lates

[2019-02-07 18:03] #174 closed

[2019-02-22 05:19] lamping7 commented on #169
Should sync soon. http://lists.ros.org/pipermail/ros-users/2019-February/078123.html

[2019-02-23 14:03] lamping7 commented on #169
0.29 is now out for both kinetic and melodic

[2019-03-08 15:03] lamping7 commented on #169
Done with #180

[2019-03-08 15:03] #169 closed

[2019-03-08 15:55] lamping7 commented on #160
I manually triggered it in docker hub and it built. The base container must have been fixed. I think we need to not use their `latest` tag for the base here. Thoughts @julianoes ? Should we pin it down to a particular tag?

[2019-03-12 10:52] julianoes commented on #160
@lamping7 I think lets rebuild using `latest`, yes.

[2019-03-12 17:07] lamping7 commented on #160
I meant change this line to a tag other than `latest`:
https://github.com/PX4/containers/blob/c4943a88c81210162d0a29a354c901fe56233832/docker/px4-dev/Dockerfile_base-archlinux#L5

I looked at their repo and they don't push versioned tags, which is unfortunate. So, in order to prevent random breaks like this, we wound need to push our own versioned tags to our repo. I'm not sure if anyone wants to

[2019-03-21 06:26] NimmiW commented on #108
Does anyone has an answer for this?

[2019-03-22 09:45] AlexLuya commented on #156
I have exact same problem,have you solved this?

[2019-03-25 16:38] ArkadiuszNiemiec commented on #156
I have wrote my own Dockerfile with:
[code]

[2019-04-26 16:24] BazookaJoe1900 commented on #156
@ArkadiuszNiemiec did you make it to work?

[2019-04-29 22:22] ArkadiuszNiemiec commented on #156
@BazookaJoe1900 I have made a custom Dockerfile that runs this:
[code]
before cloning and building PX4 Firmware.

[2019-05-06 22:25] Terrangerratt commented on #156
@BazookaJoe1900 I'm running into the same issue. Could you explain how to use your docker file (sorry I'm new to this) and what the docker file provides for us?

[2019-05-20 23:48] lamping7 opened #185 "matplotlib version problem"
We're blindly upgrading packages with `pip install --upgrade`. I'm not particularly happy with this, but because versions change without testing, but it also helps us find problems like the current one.

With the current tag of the `ros-melodic` image we have the build failing with:
[code]

I'm not sure why we have the `--upgrade` flag specified. The PR that introduced this has no motivation for i

[2019-05-22 02:05] lamping7 opened #187 "Discussion: Push Jenkins build to Docker Hub"
Any thoughts on pushing the Jenkins build to Docker Hub rather than tagging and having Docker Hub re-build? We could still tag the new images with the date.

Opening discussion... @dagar @TSC21

Alternatively push to GitHub packages?

[2019-05-22 13:32] dagar commented on #187
Initially it was just easier to have docker hub do it, but now we have Jenkins working where we can hold the credentials.

[2019-05-23 03:19] TianmingLi opened #188 "px4io/px4-dev-ros-kinetic catkin build failed"
- pull docker image
`docker pull px4io/px4-dev-ros-kinetic`

- create container

[code]

- login to container
`docker run -it  --user root dev_ros_kinetic `

- create ros package through catkin
`catkin_create_pkg beginer std_msgs --rosdistro Kinetic`

- build
`catkin build`

- error is
[code]

[2019-05-23 06:23] TianmingLi commented on #188
after

and

http://wiki.ros.org/kinetic/Installation/Ubuntu

catkin build passed

[2019-05-23 08:39] TSC21 commented on #188
We are not sourcing the ROS environment on the container. That has to be something done by the user manually or by adding it to the entrypoint.

[2019-05-23 08:39] #188 closed

[2019-06-02 16:05] #185 closed

[2019-06-27 11:29] TSC21 commented on #160
@julianoes @lamping7 does it make sense trying to reboot the ArchLinux container at this stage?

[2019-06-27 11:30] TSC21 commented on #156
@ArkadiuszNiemiec is this still a problem for you?

[2019-06-27 12:55] lamping7 commented on #160
Sure. Give it a shot.

[2019-07-09 08:41] Pedro-Roque opened #195 "Arch Script 404 and no SITL"
Explained in the title:
https://github.com/PX4/containers/blob/master/docker/px4-dev/scripts/archlinux_install_script.sh

Also, the Docs don't contain simulator setup for Gazebo (at least)
@dagar is the script out of reach outside docker?

How can I help with this?

EDIT: I translated Ubuntu scripts to Arch, can attach them as well

[2019-07-09 08:45] TSC21 commented on #195
@Pedro-Roque those scripts are not available for some time now. But we do have an archlinux container available? What are you looking for exactly?

[2019-07-09 08:48] Pedro-Roque commented on #195
@TSC21 essentially an easy script setup for Arch users, such that we can just run one script to install everything (like in Ubuntu). The container for Arch Linux contains all tools and simulators? Is this an Arch container or a container *for* Arch with the Ubuntu setup?

After setting up my system on Arch, I figured that maybe the same scripts would be of interest to other users.

[2019-07-09 08:50] TSC21 commented on #195
I would say that scripts for those kind of setups are not supposed to be in this repo but rather on the devguide. So this is something to bring to the devguide instead of being opened here.

[2019-07-09 09:37] Pedro-Roque commented on #195
I did so, ref here:  https://github.com/PX4/Devguide/pull/832#issuecomment-509128726

[2019-07-09 09:46] hamishwillee commented on #195
@TSC21 We are moving scripts out of devguide into the Firmware tree and in use from Docker - allowing them to be regularly tested. For example, here is the setup for Ubuntu: https://github.com/PX4/Firmware/blob/master/Tools/setup/ubuntu.sh

So while https://github.com/PX4/containers/blob/master/docker/px4-dev/scripts/archlinux_install_script.sh might not exist, we should have a script that does th

[2019-07-09 09:47] hamishwillee commented on #195
@Pedro-Roque We probably should close this if the scripts are no longer alive/maintained. Perhaps recreate in Firmware/Tools/setup/archlinux.sh . Let's see what @dagar suggests.

[2019-07-09 10:06] Pedro-Roque commented on #195
But I do agree that the scripts should be regularly tested, especially with Arch being a rolling distro.

[2019-07-09 23:14] hamishwillee commented on #195
Yes. It doesn't matter so much where they are as long as the setup is in CI. But I like the idea of having all setup scripts for the environment living together. That implies Firmware/Tools/setup

[2019-07-10 01:22] dagar commented on #195
Placing it in https://github.com/PX4/Firmware/tree/master/Tools/setup would be great. Then we can be sure developers, documentation, and CI are as in sync as they're going to get. Ideally the script should be idempotent so that it's safe to periodically run on an existing setup to grab any changes.

[2019-07-10 02:24] hamishwillee commented on #195
@Pedro-Roque Are you happy to submit a script there? - Based on the "design" of https://github.com/PX4/Firmware/blob/master/Tools/setup/ubuntu.sh

[2019-07-10 08:31] Pedro-Roque commented on #195
@dagar @hamishwillee Yep that seems to be a good solution. Just a question, do we need to setup an Arch docker, or will the script run by default in one?

[2019-07-17 17:48] RyanHurst commented on #156
I ran into this same problem when following the instructions to enable video stream in gazebo
https://dev.px4.io/v1.9.0/en/simulation/gazebo.html#video-streaming

[2019-07-17 23:03] hamishwillee commented on #156
@TSC21 Et al, if this ends up requiring a docs fix, can you please keep me posted (would not like to miss it).

[2019-07-18 11:19] Ahmad-Drak commented on #156
Same here

[2019-07-29 11:38] mrivi opened #197 "Images on Dockerhub"
- ros-kinetic image is not building (last update 14 days ago) even if a new build was triggered today (29/7) and three days ago
- px4-dev-melodic is failing to build becase px4io/px4-dev-simulation:2019-07-26 is not found

[2019-07-31 13:18] mrivi commented on #197
Triggered the build again and now it seems to be working

[2019-07-31 13:18] #197 closed

[2019-08-02 05:59] bozkurthan commented on #156
Hello, @hamishwillee Is there any updates on docs for this issue  :eyes:

[2019-08-02 07:48] hamishwillee commented on #156
@bozkurthan Not that I know of, and I am not tracking it. I am hoping @RyanHurst @TSC21 will ping me if there is any doc change required.

[2019-08-02 07:54] TSC21 commented on #160
Solved now.

[2019-08-02 07:54] #160 closed

[2019-08-15 13:22] urock opened #198 "Running Gazebo with camera plugin on headless machine"
Hi guys!
I am trying to setup CI for px4 + ROS simulation in Gazebo with on-board depth camera. My platform is standalone Ubuntu 16.04 machine without monitor but with nvidia card and I use ROS Kinetic with Gazebo 7. No Docker.

First I want to run simulation over ssh connection. Basic simulation works fine, but I am having hard time getting to work depth camera. Gazebo output smth like this
[code

[2019-10-23 15:49] zwn opened #206 "jmavsim assistive_technologies error"
The image px4io/px4-dev-simulation-bionic c50c4f5eb0af fails to run jmavsim, showing error. The fix from https://github.com/PX4/Firmware/issues/9557#issuecomment-512137607 makes it work.

[code]

Somewhere in the Dockerfile should do it.

Alternatively it could be fixed in the run script for jmavsim as suggested here: https://askubuntu.com/a/1134254/539354

I have tried both options - both work.

[2020-01-10 13:01] julianoes commented on #206
Thanks @zwn for the suggestion. I've created a pull request against Firmware to fix it there.

https://github.com/PX4/Firmware/pull/13908

[2020-01-10 13:01] #206 closed

[2020-01-10 13:04] julianoes commented on #198
@urock were you able to fix the issue in the meantime? When on nvidia I suggest to try using: https://github.com/NVIDIA/nvidia-docker

[2020-01-10 13:05] julianoes commented on #195
We now have and install script for Arch Linux: https://github.com/PX4/Firmware/blob/master/Tools/setup/arch.sh

However, we still need to use the these docker containers to use the install scripts.

[2020-01-10 13:05] #195 closed

[2020-01-10 13:09] julianoes commented on #187
I've disabled the DockerHub auto builds and it's now doing the `docker build` using GitHub actions:
https://github.com/PX4/containers/actions

It's much quicker because there it runs faster and in parallel.

I removed the pull request checks because they did not really work anyway if you updated the docker tags to the latest date/tag which is not built yet when in a pull request. Also, the CI buil

[2020-01-10 13:09] #187 closed

[2020-01-10 13:11] julianoes commented on #156
It looks like the gstreamer dependencies are now installed in the simulation containers:

https://github.com/PX4/containers/blob/e0d8c0a211c97c4fd73f565052d54d549c73397b/docker/Dockerfile_simulation-bionic#L15-L21

https://github.com/PX4/containers/blob/e0d8c0a211c97c4fd73f565052d54d549c73397b/docker/Dockerfile_simulation-xenial#L15-L21

[2020-01-10 13:11] #156 closed

[2020-01-10 13:12] julianoes commented on #198
I'm going to close this issue. Please re-open if you think there is something specific to fix in this repo. Thanks!

[2020-01-10 13:12] #198 closed

[2020-03-09 18:57] JBLanier commented on #198
Hi was this issue ever solved? I am having the exact same issue.

[2020-03-09 21:27] hamishwillee commented on #198
Nope, it was closed. Suggest you recreate if you think this is a PX4 issue.

[2020-03-23 06:39] julianoes opened #255 "Use setup scripts from Firmware"
We should re-use the install scripts (e.g. [ubuntu.sh](https://github.com/PX4/Firmware/blob/master/Tools/setup/ubuntu.sh) from the Firmware repo intead of having duplication here.

[2020-06-03 11:15] MaximeAubanel opened #266 "Using px4-dev-ros2-eloquent on RaspberryPi"
Hello,

I need px4io/px4-dev-ros2-eloquent to run on RaspberryPi or ARMv7 architecture. Can you provide it to us please ? If not how can we do it ?

[2020-06-03 11:38] TSC21 commented on #266
@MaximeAubanel these images are aimed for usage with CI pipelines, they are optimised for deployment. So you will have to dig in further and create your own container. But I am not really sure you are actually able to do that since https://registry.hub.docker.com/r/armv7/armhf-ubuntu only has images until Ubuntu 16.10, and you need at least 18.04.

I would start by probably first understand how to

[2020-06-03 12:17] MaximeAubanel commented on #266
Thanks for that blazing fast answer.

But let say I want to communicate between my ROS1 program and my drone. Then at some point, I need to have mavros launched connected to the drone using the `fcu_url` right ? Then it means that on my embedded device I'm going to require mavros and the whole px4 toolchain no ?

Or am I completely wrong ? If I am, what image would I need to run `roslaunch mavros

[2020-06-03 12:25] TSC21 commented on #266
I am not getting it here: if you are to use ROS1, why do you want ROS2?

[2020-06-03 12:28] MaximeAubanel commented on #266
Oh yeah my bad I didn't mention this. We are using both ROS1 and ROS2 on our nodes, _linked_ with the bridge.

[2020-06-03 12:30] TSC21 commented on #266
Just in any case, we don't have any image on this container for ARM that has ROS1/2 inside. It will have to be something you need to build yourselves. I advise you look for a docker image for ARMv7 and then create a Dockerfile that extends it with ROS and the required dependencies.

[2020-06-03 12:31] TSC21 commented on #266
You can start by having a look at this thread: https://discourse.ros.org/t/announcing-ros-docker-images-for-arm-and-debian/2467.

[2020-06-03 15:41] MaximeAubanel commented on #266
Okay. Thanks for your answer.

As ARM 32 (armv7) doesn't support Ubuntu 18.04 and Ubuntu 18.04 is required I will have to switch to an ARM 64 device.

Let's say,  I isolate my ROS1 program, even using px4io/px4-dev-ros-melodic on an ARM 64 device won't work because it's not made for ARM 64 architecture. So basically it means that I need to build the image myself. Right ?

If it is you can close th

[2020-07-14 00:08] gu-ramosp opened #273 "libGL error: No matching fbConfigs or visuals found when running make px4_sitl gazebo"
Hi, trying to use the px4io/px4-dev-ros-melodic container to simulate a quad-copter with the following input:

I get the following output:

empty world, setting empty.world as default
libGL error: No matching fbConfigs or visuals found
libGL error: failed to load driver: swrast
X Error of failed request:  GLXBadContext
    Major opcode of failed request:  151 (GLX)
    Minor opcode of failed reque

[2020-07-14 17:18] gu-ramosp commented on #273
Managed to run the simulation after installing the same nvidia drivers i have on my computer inside the container.

Creating the container:

    --privileged \\
    --user="root" \\
    -v /tmp/.X11-unix:/tmp/.X11-unix:ro \\
    -e DISPLAY=${DISPLAY} \\
    -e LOCAL_USER_ID="$(id -u)" \\
    --name=container_name px4io/px4-dev-simulation-bionic /bin/bash

exiting the container and enabling the xho

[2020-09-01 11:57] #266 closed

[2020-09-01 12:05] MaximeAubanel opened #277 "Trying to build the docker images and run gazebo simulation but fails"
Hello,

So I pulled and use this docker image: `px4io/px4-dev-simulation-focal:2020-04-01`.

Cloned `https://github.com/PX4/Firmware`, checked out to `v1.9.0`.

Went into the firmware folder and ran:
[code]

Once inside, I did: `make px4_sitl_default gazebo`

Long story short is doesn't build correctly. I have those errors:
[code]

And it stops.

I just want to run the suite px4 + gazebo in a cont

[2020-09-02 07:51] #277 closed

[2020-11-02 07:37] SalimTerryLi opened #284 "JSBSim 404"
[code]

[2020-11-02 13:40] #284 closed

[2021-02-03 15:25] aseyfi opened #289 "Inaccurate Documentation"
Hello,

I was following the instructions in [this link](https://docs.px4.io/master/en/test_and_ci/docker.html#container-hierarchy). Looking at this table my understanding is that "px4-dev-ros" can do everything "px4-dev-nuttx" does, plus extra ROS and simulation applications, but it is not the case. "px4-dev-ros" doesn't include arm tool-chain and nuttx environment setup.

I am new to PX4 and Dock

[2021-02-04 06:27] hamishwillee commented on #289
Hi @aseyfi Thanks for posting.

This issue should be in the docs repo: https://github.com/PX4/PX4-user_guide

@TSC21 The table in https://docs.px4.io/master/en/test_and_ci/docker.html#container-hierarchy seems not to match well with https://github.com/PX4/PX4-containers#container-hierarchy
Any thoughts on what should be in the docs?

[2021-02-04 08:31] TSC21 commented on #289
The docs needs to be in sync with what is in here or just be removed.

[2021-02-10 06:02] #289 closed

[2021-02-10 06:02] hamishwillee commented on #289
Thanks. Fixed by https://github.com/PX4/PX4-user_guide/pull/1045

[2021-08-03 00:15] random82 opened #307 "Support for Jetson boards and L4T images"
I propose adding support for NVidia L4T based images. Otherwise, existing images can't be built on Nvidia Jetson boards.

[2021-08-03 00:15] random82 commented on #307
PR #305

[2021-08-03 00:18] random82 commented on #307
Simulation image PR #308
Tested with JMavSim on Jetson Nano

[2021-08-17 16:55] PetervdPerk-NXP opened #309 "Code duplication when installing python dependencies"
So for my PR https://github.com/PX4/PX4-Autopilot/pull/17100, I'm bringing this new python module kconfiglib, unfortunely I've lost count on which places I've had to add the dependencies.

Would it be possible that all PX4 docker containers install the python dependencies for all containers based on a single file?

[2021-08-17 17:25] dagar commented on #309
That's definitely been the goal for some time, it just hasn't quite materialized.

I would like the PX4-Autopilot repo to be the source of truth, including locking down any particular package versions. https://github.com/PX4/PX4-Autopilot/tree/master/Tools/setup

[2022-05-04 12:44] ShiauweiZhao opened #316 "jenkins use the docker images failed"
When I call docker images with jenkins, he reports the following error
[code]
However, in github actions he works fine,I also tested docker images myself in pc and it works fine
,I think it's because the way jenkins calls docker images is different from github actions,The situation may look like this link  https://stackoverflow.com/questions/58205082/in-jenkins-how-to-use-docker-image-with-cross-c

[2022-05-04 20:20] dagar commented on #316
How are you launching this? In PX4-Autopilot usage the CCACHE_DIR is passed in as a volume so the cache can be shared between builds.

https://github.com/PX4/PX4-Autopilot/blob/bf8d759d3d497740512428fde82ad756bd5221c0/Tools/docker_run.sh#L65

You probably need to make sure the permissions of your CCACHE_DIR is set appropriately so the docker user can actually write to it.

[2022-05-05 02:20] ShiauweiZhao commented on #316
I use PX4-AutoPilot's Jenkinsfile-compile to call docker.i'll double check the issue

[2022-05-05 11:11] ShiauweiZhao commented on #316
close because CCACHE_DIR  not have permissions for jenkins

[2022-05-05 11:11] #316 closed

[2022-07-31 10:47] Jaeyoung-Lim opened #319 "Bionic simulation broken"
It seems like gazebo9 on Ubuntu 18.04 is broken and therefore the bionic-simulation container cannot be built:
[code]